/* mainView.css */
.my-custom-region {
    /* Path must be relative to the CSS file or the classpath root */
    
    -fx-min-width: 300px;
    -fx-min-height: 200px;
    -fx-background-image:url("/NetflixJava/src/main/resources/tn/farah/NetflixJava/ImagesNet/images.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-size: cover;
}